# Información y Programación Financiera, TI, Algoritmos y Ciencia de Datos

Neftalí Valdez

<a href="http://twitter.com/neftalivldz" target="_blank">@neftalivldz</a> | <a href="mailto:nvaldez@tec.mx">nvaldez@tec.mx</a>

## Como calcular el precio de cierre ajustado

In [2]:
# Se importa los recursos
import eikon as ek
import pandas as pd

start_date='2019-12-03'
end_date='2023-12-06'

#ek.set_app_key('39204bae224a4fd2bf35f59cdb135beb2bff2b84')

In [ ]:
cfg = cp.ConfigParser()
cfg.read('../refinitiv.cfg')
ek.set_app_key(cfg['eikon']['app_id'])

## Precio de cierre ajustado.
Es un dato que se utiliza para reflejar con mayor precisión el rendimiento histórico de una acción o activo financiero a lo largo del tiempo. 

Este precio tiene en cuenta cualquier evento corporativo que pueda afectar el

*  **Precio de una acción**

*  **Dividendos**

*  **Divisiones de acciones**

*  **Fusiones.**

## ¿Cómo se calcula el precio de cierre ajustado?

**Split Multiplier**

Se determina por el coeficiente de división.

* En una división de 2 por 1, los datos previos a la división se multiplican por 0,5.

* En un split de 4 por 1, los datos previos al split se multiplican por 0,25.

* En un split inverso de 1 por 5, los datos previos al split se multiplican por 5.

 **Dividend multipliers**

Se calculan sobre la base del dividendo como porcentaje del precio, principalmente para evitar la fijación de precios históricos negativos.

* Si se distribuye un dividendo en efectivo de 0,08  el 19 de febrero (fecha ex) y el precio de cierre del 18 de febrero es 24,96 , los datos anteriores al dividendo se multiplican por (1-0,08/24,96) = 0,9968.


* Si se distribuye un dividendo en efectivo de 2,40  el 12 de mayo (fecha ex), y el precio de cierre del 11 de mayo es de 16,51 , los datos anteriores al dividendo se multiplican por (1-2,40/16,51) = 0,8546.


* Si se distribuye un dividendo en efectivo de 1,25 el 25 de enero (fecha ex), y el precio de cierre del 24 de enero es 51,20 , los datos anteriores al dividendo se multiplican por (1-1,25/51,20) = 0,9756.

Se define la acción, y se obtiene el valor del dividendo y su split.

In [26]:
div, splt = ek.get_data('BLK',
                         ['TR.DivType','TR.DivExDate','TR.DivCurr','TR.DivAdjustedGross', 'TR.FundSFFactor'],
                           {'SDate':start_date, 'EDate':end_date})

Se obtiene los precios historicos del activo para calcular el precio de cierre ajustado

In [14]:
msft = ek.get_timeseries(["MSFT.O"], 
                         start_date = start_date, 
                         end_date = end_date, 
                         interval="daily").reset_index()
msft

MSFT.O       Date      HIGH   CLOSE      LOW    OPEN   COUNT    VOLUME
0      2019-12-03    149.43  149.31   146.65  147.49  171791  25192145
1      2019-12-04  150.1799  149.85    149.2  150.14  139551  17580617
2      2019-12-05    150.32  149.93   149.48  150.05  110896  17880601
3      2019-12-06    151.87  151.75   150.27  150.99  123433  16410400
4      2019-12-09    152.21  151.36   150.91  151.07  110782  16741350
...           ...       ...     ...      ...     ...     ...       ...
1005   2023-11-30    380.09  378.91   375.47  378.49  364028  30554415
1006   2023-12-01    378.16  374.51   371.31  376.76  516940  33040472
1007   2023-12-04    369.52  369.14    362.9   369.1  504199  32063305
1008   2023-12-05   373.075  372.52  365.621  366.45  373675  23065035
1009   2023-12-06    374.18   368.8   368.03  373.54  326373  21182072

[1010 rows x 7 columns]

Se une la tablas para poder calcular el precio de cierre ajustado. 

Primero, se eliminará las columnas de precio que no se utilizaran de la variable `msft` y se filtrara los valores de la columna **Dividend Type** donde el valor sea igual a 'Final'

In [15]:
# Se elimina las columnas
msft = msft[['Date', 'CLOSE']]

In [29]:
# Se filtra los valores por la columna Divident Type donde sea igual a 'Final'
div = div[['Dividend Type', 'Dividend Ex Date','Adjusted Gross Dividend Amount', 'Split Factor']].loc[div["Dividend Type"]=="Final"]

In [30]:
# Se convierte la columna Divident Ex Date en formato datetime
div["Dividend Ex Date"] = pd.to_datetime(div["Dividend Ex Date"], format='mixed')

In [31]:
# Se une las tablas por fechas.
merged = pd.merge(msft, div, left_on=  ['Date'],
                   right_on= ['Dividend Ex Date'], 
                   how = 'left')

In [32]:
# Se modifica los valores a lo largo de columna con el Adjusted Gross Dividend Amount
for i in div.index:
    merged["Adjusted Gross Dividend Amount"] = merged["Adjusted Gross Dividend Amount"].loc[merged["Date"] <= div["Dividend Ex Date"][i]].fillna(div["Adjusted Gross Dividend Amount"][i])

In [33]:
# Se da un viztazo a la tabla 
merged

,Date,CLOSE,Dividend Type,Dividend Ex Date,Adjusted Gross Dividend Amount,Split Factor
0,2019-12-03,149.31,<NA>,NaT,3.63,<NA>
1,2019-12-04,149.85,<NA>,NaT,3.63,<NA>
2,2019-12-05,149.93,<NA>,NaT,3.63,<NA>
3,2019-12-06,151.75,<NA>,NaT,3.63,<NA>
4,2019-12-09,151.36,<NA>,NaT,3.63,<NA>
...,...,...,...,...,...,...
1005,2023-11-30,378.91,<NA>,NaT,5.0,<NA>
1006,2023-12-01,374.51,<NA>,NaT,5.0,<NA>
1007,2023-12-04,369.14,<NA>,NaT,5.0,<NA>
1008,2023-12-05,372.52,<NA>,NaT,5.0,<NA>
1009,2023-12-06,368.8,Final,2023-12-06,5.0,<NA>

Para fines practicos, se convertirán los valores **NA** por valores 1, esto con el fin de que no se convierta en un valor 0 al realizar la operacion

In [36]:
# Se agrega el valor de 1 en spli factor
merged['Split Factor'] = merged['Split Factor'].fillna(1)

# Se agrega el valor de 1 en Adjusted Gross Dividend Amount
merged['Adjusted Gross Dividend Amount'] = merged['Adjusted Gross Dividend Amount'].fillna(1)

merged

,Date,CLOSE,Dividend Type,Dividend Ex Date,Adjusted Gross Dividend Amount,Split Factor
0,2019-12-03,149.31,<NA>,NaT,3.63,1
1,2019-12-04,149.85,<NA>,NaT,3.63,1
2,2019-12-05,149.93,<NA>,NaT,3.63,1
3,2019-12-06,151.75,<NA>,NaT,3.63,1
4,2019-12-09,151.36,<NA>,NaT,3.63,1
...,...,...,...,...,...,...
1005,2023-11-30,378.91,<NA>,NaT,5.0,1
1006,2023-12-01,374.51,<NA>,NaT,5.0,1
1007,2023-12-04,369.14,<NA>,NaT,5.0,1
1008,2023-12-05,372.52,<NA>,NaT,5.0,1
1009,2023-12-06,368.8,Final,2023-12-06,5.0,1

Ahora bien, para calcular el precio de cierre:

Split multipliers * Dividend multipliers(1 - dividend/close t-1) = precio de cierre ajustado

In [62]:
for i in range(1,len(merged)):
    merged["Adj Close"] = (1-(merged["Adjusted Gross Dividend Amount"][i]/merged["CLOSE"][i-1]))

In [61]:
merged["Adj Close"] = (1-(merged["Adjusted Gross Dividend Amount"][1007]/merged["CLOSE"][1007-1]))

In [55]:
range(1,len(merged))

range(1, 1010)